<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" role="form">
            <h2>Parent Profile</h2>
          <label for="course" class="col-sm-3 control-label" >Parent-Name </label><br><br>
           <label for="course" class="col-sm-3 control-label" >Student-Name </label><br><br><br>
           <label for="course" class="col-sm-3 control-label" >Department-Name </label><br><br><br>

         <label for="dept" class="col-sm-3 control-label" >Course-Name </label>
         <br><br><br>

<button class="btn btn-default" value="Student Attendance"><a href="studeAttendance2.html">View Attendance</a></button><br><br>
<button class="btn btn-default"><a href="studentresult.html">View Result</a></button><br><br>




       
</form> <!-- /form -->
    </div> <!-- ./container -->

</body>
</html>