<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Records</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm" >
    <thead class="thead-dark">
    <tr >
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student Email</th>
        <th>Student Contact</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for student in students %}
    <tr>
        <td>{{ student.eid }}</td>
        <td>{{ student.ename }}</td>
        <td>{{ student.eemail }}</td>
        <td>{{ student.econtact }}</td>
        <td>
            <a href="/edit/{{ student.eid }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ student.eid }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/std" class="btn btn-primary">Add New Record</a></center>
</body>
</html>
