<!DOCTYPE html>
<html>
<head>
	<title></title>
	
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<h3 align="center">Attendance</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Roll-no</th>
      <th scope="col">Student-Name</th>
      <th scope="col">Date</th>
      <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Shivani</td>
      <td>27/5/2019</td>
      <td>A<input type="radio" name="option" class="custom-control-input">P<input type="radio" name="option" class="custom-control-input"></td>
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>Shivanjali</td>
      <td>27/5/2019</td>
      <td>A<input type="radio" name="option" class="custom-control-input">P<input type="radio" name="option" class="custom-control-input"></td>
    </tr>
     <tr>
      <th scope="row">3</th>
      <td>Sholi</td>
      <td>27/5/2019</td>
      <td>A<input type="radio" name="option" class="custom-control-input">P<input type="radio" name="option" class="custom-control-input"></td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Vaibhav</td>
      <td>27/5/2019</td>
      <td>A<input type="radio" name="option" class="custom-control-input">P<input type="radio" name="option" class="custom-control-input"></td>
    </tr>
    
  </tbody>
</table>

</body>
</html>