<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form class="form-horizontal" role="form">
            <h3 align="center">Teacher Profile</h3>
          <label for="course" class="col-sm-3 control-label" >Subject-Name </label><br><br>
           <label for="course" class="col-sm-3 control-label" >Department-Name </label><br><br><br>

         <label for="dept" class="col-sm-3 control-label" >Course-Name </label>
          <select class="form-control" autofocus>
           <option selected=""> Select Course-Name</option>
           <option>Engineeering</option>
           <option>Bsc</option>
           <option>Pharma</option>
         </select><br>

<label for="course" class="col-sm-3 control-label" >Subject-Name </label>
<select class="form-control" autofocus>
  <option selected=""> Select Subject-Name</option>
  <option>Designer</option>
  <option>Manager</option>
  <option>Accaunting</option>
</select><br>

<button class="btn btn-default" value="Student Attendance"><a href="studeAttendance.html">Student Attendance</a></button><br><br>
<button class="btn btn-default"><a href="createexam.html">Create Exam</a></button><br><br>
<button class="btn btn-default"><a href="result.html"> Result</a></button><br><br>
<button class="btn btn-default"><a href="viewexam.html">View Exam</a></button><br><br>
<button class="btn btn-default"><a href="fillexam.html"> Fill Mark</a></button><br><br>



       
</form> <!-- /form -->
    </div> <!-- ./container -->


</body>
</html>